@model projetoPSI.Models.Receita

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <br /><br /><br /><br />
    <h1>Details</h1>

    <div>
        <h4>Receita</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Preco)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Preco)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReceitaData)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReceitaData)
            </dd>
          
            <dt class="col-sm-2">
                Utente
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UtenteID.Nome)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ReceitaId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <br/>
    <h3>Medicamentos</h3>
    @{if (Model.MedicamentoReceita.Count != 0)
        {
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Preco
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MedicamentoReceita.Select(x => x.Medicamento))
        {
<tr>
    <td>
        @item.Nome
    </td>
    <td>
        @item.Preco
    </td>
</tr>                }
    </tbody>
</table> }
            else
            {
<h6>Esta receita não tem Medicamentos</h6> } }
</div>