@model IEnumerable<projetoPSI.Models.Receita>

@{ ViewData["Title"] = "Index"; }

<div class="container">
    <br /><br /><br /><br/>


    <h1>Receitas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                   Data
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceitaData)
                    </td>
                  
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ReceitaId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ReceitaId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>