@model parafarmacia.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <form class="form-inline" asp-controller="ProductCart" asp-action="Create" method="post" style="display: flex; flex-direction: column; justify-content: center; gap: 5px;">
        <dl class="row">
            <dd class="col-sm-8">
                <div class="latest-product__item">
                    <div class="latest-product__item__pic">
                        <img src="~/img/products/@Model.Image" alt="product" style="width:220px; height: 220px;" />
                    </div>
                    <div class="latest-product__item__text">
                        <h4>@Model.Name</h4>
                        <h6>@Model.Category.Name</h6>
                        <h5>@Model.Description</h5>
                        <span style="margin-top:10px;">@Model.Price €</span>
                        <div style=" display: flex; align-items: flex-end; margin-top: 5px; gap: 5px;">
                            <h6>Quantity:</h6>
                            <input type="hidden" id="ProductFK" name="ProductFK" value=@Model.Id>
                            <input class="form-control" type="number" name="Quantity" value=1 style="width: 100px; height:31px;" />
                        </div>
                    </div>
                </div>
            </dd>
            <dd class="col-sm-4" style="display: flex; justify-content: center; align-items: center;">
                <button type="submit" class="btn primary-btn" style="border-radius:0;">
                    BUY
                </button>
            </dd>
        </dl>
    </form>
</div>
<div>
    @{
        if (User.IsInRole("Admin"))
        {
            <span><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |</span>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
