@model IEnumerable<projetoPSI.Models.Utente>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <br /><br /><br /><br />

    <h1>Utentes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNasc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NIF)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataNasc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NIF)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.UtenteId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.UtenteId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.UtenteId">Delete</a> |
        @if (User.IsInRole("Admin")) { 
        <form method="post" asp-action="TornarMedico">
            <input type="hidden" name="id" value="@item.UtenteId"/>
            <button type="submit" class="btn btn-info btn-sm">Tornar Médico</button>
        </form>
        }
    </td>
</tr>
}
        </tbody>
    </table>
    <div />
</div>