@inject parafarmacia.Model.Services.NavbarService NavbarService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parafarmácia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>
    <div class="humberger__menu__overlay"></div>

    <!-- mobile header-->
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#" class="logo">Parafarmácia</a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li>
                    <div class="header__top__right__language">
                        <partial name="_LoginPartial" />
                    </div>
                </li>
                <li><a href="/Carts/MyCart"><i class="fa fa-shopping-bag"></i> <span>@(await NavbarService.GetCartProductsSizeAsync())</span></a></li>
            </ul>
            <div class="header__cart__price">Total: <span>@(await NavbarService.GetCartTotalAsync()) €</span></div>
        </div>

        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/Products">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <partial name="_MenuPartial" />
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>

    <!-- desktop header-->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-area="" asp-page="/Index" class="logo">Parafarmácia</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/Products">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <partial name="_MenuPartial" />
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <nav class="header__menu" style="text-align: left; padding: 0">
                                    <ul>
                                        <li>
                                            <partial name="_LoginPartial" />
                                        </li>
                                    </ul>
                                </nav>
                            </li>
                            <li><a href="/Carts/MyCart"><i class="fa fa-shopping-bag"></i> <span>@(await NavbarService.GetCartProductsSizeAsync())</span></a></li>
                        </ul>
                        <div class="header__cart__price">Total: <span>@(await NavbarService.GetCartTotalAsync()) €</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    <div class="container" style="min-height: calc(100% - 140px);">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Parafarmácia - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

